<section id="first-logo">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
              <div class="main-logo">
                <a href="index.html">
                <img src="/images/logo/logo.png">
                </a>
              </div>
            </div>
          </div>
        </div>
 </section>