<div class="col-md-4">
        <div class="your-order-popup">
              <h5>Your Order:</h5>
                <table class="table">
                  <tr>
                    <td>
                      <img src="/images/products/small/02.jpg" id="order_image">
                    </td>
                    <td>
                      <span id="order_name">Coca Cola Zero 25*330ml</span>
                    </td>
                    <td>
                    <h4 id="order_price">$4.00</h4>
                    </td>
                    <td>
                    <a href="#">See all >></a>
                    </td>
    
                  </tr>
                </table>
            </div>
</div>