<!-- Our Partner -->
<section id="our-partner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Our Partners</h3>
                </div>
            </div>
        </div>
    
        <div class="container-fluid">
            <div class="row">
    
                        <!-- slide our partner -->
                        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
    
                        <!-- our partner for slides -->
                        <div class="carousel-inner" role="listbox">
    
                            <div class="item active">
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/cleanbodia-130x100.png">
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/koc-cambodia-130x100.png">
                                
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/Sai_Farm-130x100.png" alt="...">
                                
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/cleanbodia-130x100.png">
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/koc-cambodia-130x100.png">
                                
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/Sai_Farm-130x100.png" alt="...">
                                
                                </a>
                                </div>
    
                            </div>
    
                            <div class="item">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/cleanbodia-130x100.png">
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/koc-cambodia-130x100.png">
                                
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/Sai_Farm-130x100.png" alt="...">
                                
                                </a>
                                </div>
    
                                
    
                                
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/cleanbodia-130x100.png">
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/koc-cambodia-130x100.png">
                                
                                </a>
                                </div>
    
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                <a href="#">
                                <img src="/images/our_partner/Sai_Farm-130x100.png" alt="...">
                                
                                </a>
                                </div>
    
                            </div>
                
                        </div>
                    
                    </div> 
                        <!-- /slide our partner -->
    
            </div>
        </div>
    
    </section>
    <!--/ Our Partner -->