<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%=typeof title == 'undefined' ? 'Mart 87' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <script src="/ng/app.js"></script>
    <script src="/ng/app.constant.js"></script>
    <!-- <script src="/ng/app.service.js"></script> -->
    
    <script src="/ng/category/service.js"></script>
    <script src="/ng/category/controller.js"></script>
    
    <script src="/ng/product/service.js"></script>
    <script src="/ng/product/controller.js"></script>
    
     <script src="/ng/slide/service.js"></script>
    <script src="/ng/slide/controller.js"></script>
    
  </head>
  <body>
    <%- body %>
  </body>
</html>
