<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%=typeof title == 'undefined' ? 'Mart 87' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style-admin.css">
    <!--STYLES END-->
      <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

  <link href="/styles/style-admin.css" rel="stylesheet">
  <!--angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  
  <script src="/ng/app.js"></script>
  <script src="/ng/app.constant.js"></script>
  <script src="/ng/app.service.js"></script>
  
  <script src="/ng/category/service.js"></script>
  <script src="/ng/category/controller.js"></script>
  
  <script src="/ng/product/service.js"></script>
  <script src="/ng/product/controller.js"></script>
  
  <!-- front end -->
  <!-- custom style -->
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <link href="/css/responsive-tablet.css" rel="stylesheet">
  <!-- 		Plugin -->
  <link href="/plugin/image-zoom/css/easyzoom.css" rel="stylesheet">
  <!-- end front  -->
  
  </head>
  <body>
    <%- body %>

  
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/popper/popper.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for all pages-->
  <!-- <script src="/js/sb-admin.min.js"></script> -->
  <!-- Custom scripts for this page-->
  <!--SCRIPTS-->
  <script src="/js/quantity.control.js"></script>
  <script src="/js/sb-admin.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/shopping.cart.js"></script>
  <script src="/js/video.ui.js"></script>
  <!--SCRIPTS END-->    

  <!-- front end     -->
 <!-- script shop cart -->
  <script src="/js/shopping.cart.js"></script>
  <!-- script add qty -->
  <script src="/js/quantity.control.js"></script>
  <!-- Plugin -->
  <!-- 	zoom image -->
  <script type="text/javascript" src="/plugin/image-zoom/js/easyzoom.js"></script>
  <script src="/plugin/image-zoom/js/main.easyzoom.js"></script>
  <!-- video ui -->
  <script src="/js/video.ui.js"></script>
  <!-- Search -->
  <script src="/js/search.js"></script>
  <!-- end front end -->
  </body>
</html>
