    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- font style -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- custom style -->
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/responsive-tablet.css" rel="stylesheet">
    <!--Plugin -->
    <link href="/plugin/image-zoom/css/easyzoom.css" rel="stylesheet">
<body class="bg-dark">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card card-login mx-auto mt-5">
              <div style="margin:auto">
              <div class="card-header">Login</div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember Password</label>
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" href="/dashboard/index">Login</a>
                </form>
                <div class="text-center">
                  <a class="d-block small" href="/admin/login">Forgot Password?</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- script shop cart -->
    <!-- <script src="/js/shopping.cart.js"></script> -->
    <!-- script add qty -->
    <script src="/js/quantity.control.js"></script>
    <!-- Plugin -->
    <!-- 	zoom image -->
    <script src="/plugin/image-zoom/js/easyzoom.js"></script>    
    <script src="/plugin/image-zoom/js/main.easyzoom.js"></script>
    <!-- video ui -->
    <script src="/js/video.ui.js"></script>
    <!-- Search -->
    <script src="/js/search.js"></script>     