

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-controller="ProductController">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <!-- header -->
      <% include ../partials/header %>
      <!-- end header -->
  
      <div class="collapse navbar-collapse" id="navbarResponsive">
    
        <!-- left bar -->
        <% include ../partials/left %>
        <!-- end left bar -->
    
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <!-- left bar -->
            <% include ../partials/head %>
            <!-- end left bar -->

        </ul>
      </div>
    </nav>
    
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a ui-sref="home">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Product</li>
        </ol>
        <div class="row">
          <div class="col-12">
        
      
            <!--CONTENT -->
        <div class="card mb-3">
            <div class="card-header">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#productModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>ACTION</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr products ng-repeat="product in products">
                      <td>{{$index+1}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.description}}</td>
                    <td>
                      <!-- <button type="button" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button> -->
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#productModal"  ng-click="modifyItem(product)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger"  ng-click="deleteItem(product)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="pagination-center">
                  <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">&raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
             <!--END CONTENT -->
  
          </div>
        </div>
      </div>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      
      <!-- footer -->
      <% include ../partials/footer %>
      <!-- end footer -->
  
    </div>
    </body>
    
<!-- Modal -->
<div id="productModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><center>{{ btnName }} Product</center></h5>          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form">
                <form novalidate>
                    <div class="form-group">
                        <label for="product-name">Product name:</label>
                        <input type="text" class="form-control" id="product-name" placeholder="Enter product name" ng-model="item.name" required>
                    </div>
                    <div class="form-group">
                      <label for="category">Choose category:</label>
                    <select name="selectedCategory"  class="form-control" id="category" ng-options="option.name for option in listCategoriesName track by option.id" ng-model="selectedCategory" ng-change="onCategoryChange()"></select>
                  </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment" placeholder="Enter decription" ng-model="item.description" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" class="form-control" id="image" required>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="saveItem()">{{ btnName }}</button>
                </form>
              </div>
        </div>
        <div class="modal-footer">
      
        </div>
      </div>
       <!-- End Modal content-->
    </div>
  </div>
   <!-- End  Modal -->